.tournaments-title > h1 + a {
    margin-left: 20px;
    margin-bottom: 20px !important;
}

.tournaments-title > h1 {
    display: inline-block;
}

.username {
    text-align: right;
}

.tournaments ul {
    list-style: none;
    width: 400px;
}

ul li::after {
    content: '';
    display: block;
    clear: both;
}

.tournaments-list img {
    cursor: pointer;
}

.tournament td, .tournament th,
.tournaments-list td, .tournaments-list th
{
    padding: 3px;
    border: 1px solid black;
    text-align: center;
    width: 100px;
}

.tournament thead,
.tournaments-list thead
{
    background: #cecece;
}

.tournament-title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
}

td.match-participants, td.tournament-name {
    width: 300px;
}

#save-matches, .winner {
    margin-top: 20px;
    matgin-bottom: 20px;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.expand-fill {
    cursor: pointer;
}

#date-fill * {
    margin-left: 5px;
    margin-right: 5px;
}

#date-fill {
    padding-top: 10px;
    padding-bottom: 10px;
}

#participants-count {
    float: right;
}

.schedule tr.tour-line-top td {
    border-top: 2px solid black;
}

.schedule tr.tour-line-bottom td {
    border-bottom: 2px solid black;
}
