    {% if matches %}
        <div class="tournament schedule" data-is-playoff="{{ is_playoff }}">
            <table>
                <thead>
                    <tr>
                        <td>Дата</td>
                        <td>Участники</td>
                        <td>Счёт</td>
                        <td>Победитель</td>
                        {% if is_playoff %}
                            <td>Стадия</td>
                        {% endif %}
                        {% if is_group %}
                            <td>Группа</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches %}
                        {% if is_round %}
                            <tr
                                {% if forloop.counter == 1 %}
                                    class="tour-line-top"
                                {% else %}
                                    {% if forloop.counter|divisibleby:tour_step %}
                                        class="tour-line-bottom"
                                    {% endif %}
                                {% endif %}
                            data-match-id="{{ match.id }}">
                        {% else %}
                            <tr data-match-id="{{ match.id }}">
                        {% endif %}
                                <td class="match-date">{{ match.date|date:'d.m.Y' }}</td>
                                <td class="match-participants">{{ match.participant1 }} — {{ match.participant2 }}</td>
                                <td class="match-result">{{ match.result|default_if_none:'' }}</td>
                                <td class="match-winner">{{ match.winner_wrap }}</td>
                                {% if is_playoff %}
                                    <td class="match-level">{{ match.level_wrap }}</td>
                                {% endif %}
                                {% if is_group %}
                                    <td class="match-group">{{ match.get_group_display }}</td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
