{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    Список турниров
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'tournament/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lib/jquery/js.cookie.js' %}"></script>
    <script src="{% static 'tournament/js/manage_tournaments.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="tournaments-title">
            <h1>Турниры</h1>
            {% if request.user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'tournament:tournament_create_form' %}" role="button">+Создать турнир</a>
            {% endif %}
        </div>
        <div class="tournaments">
            <div class="tournaments-list">
                <table>
                    <thead>
                        <tr>
                            <td>Название</td>
                            <td>Начало</td>
                            <td>Завершён</td>
                            <td>Победитель</td>
                            {% if request.user.is_superuser %}
                                <td>
                                    Удалить
                                </td>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tournament in tournaments %}
                            <tr data-id="{{ tournament.id }}">
                                <td class="tournament-name">
                                    <a href="{% url 'tournament:tournament' id=tournament.id %}">
                                        {{ tournament.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ tournament.early_date|date:'d.m.y' }}
                                </td>
                                <td>
                                    {{ tournament.last_date|date:'d.m.y' }}
                                </td>
                                <td>
                                    {{ tournament.winner|default_if_none:'' }}
                                </td>
                                {% if request.user.is_superuser %}
                                    <td>
                                        <img src="{% static 'img/delete.png' %}">
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
