{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}
            <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row top-buffer">
                <div class="col-md-8">
                    <a href="{% url 'tournament:tournaments' %}">Главная</a>
                </div>
                {% include 'inc_username_indicate.html' %}
            </div>
            <div class="row bottom-buffer">
                {% block body %}
                {% endblock %}
                {% block js %}
                    <script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
                    <script src="{% static 'js/lib/bootstrap/bootstrap.min.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
